<div class="container-xxl bg-white p-0">
  <div
    class="container-fluid bg-primary text-light footer wow fadeIn"
    data-wow-delay="0.1s"
  >
    <div class="container py-5 px-lg-5">
      <div class="row g-5">
        <!-- Address Section -->
        <div class="col-md-6 col-lg-4">
          <p class="section-title text-white h5 mb-4">Address<span></span></p>
          <p>
            <i class="fa fa-map-marker-alt me-3"></i>Avenue Abou Kacem Chebbi
            Chentech Immeuble Yasmine, 1er étage, 6011 Gabés
          </p>
          <p><i class="fa fa-phone-alt me-3"></i>(+216) 92 932 920</p>
          <p class="cla">
            <a href="mailto:association.gabes.action@gmail.com" class="cla">
              <i class="fa fa-envelope me-3"></i>association.g.com</a
            >
          </p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social" href=""
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="btn btn-outline-light btn-social" href=""
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <!-- Quick Links Section -->
        <div class="col-md-6 col-lg-4">
          <p class="section-title text-white h5 mb-4">
            Lien Rapide<span></span>
          </p>
          <a class="btn btn-link" routerLink="/about">A propos</a>
          <a class="btn btn-link" routerLink="/contact">Contactez nous</a>
          <a class="btn btn-link" routerLink="/index">Accueil</a>
          <a class="btn btn-link" routerLink="/adhesion">Adhésion</a>
        </div>
        <!-- Gallery Section -->
        <div class="col-md-6 col-lg-4">
          <p class="section-title text-white h5 mb-4">Gallery<span></span></p>
          <div class="row g-2">
            <div class="col-4">
              <img
                class="img-fluid"
                src="assets/img/portfolio-1.jpg"
                alt="Image"
              />
            </div>
            <div class="col-4">
              <img
                class="img-fluid"
                src="assets/img/portfolio-2.jpg"
                alt="Image"
              />
            </div>
            <div class="col-4">
              <img
                class="img-fluid"
                src="assets/img/portfolio-3.jpg"
                alt="Image"
              />
            </div>
            <div class="col-4">
              <img
                class="img-fluid"
                src="assets/img/portfolio-4.jpg"
                alt="Image"
              />
            </div>
            <div class="col-4">
              <img
                class="img-fluid"
                src="assets/img/portfolio-5.jpg"
                alt="Image"
              />
            </div>
            <div class="col-4">
              <img
                class="img-fluid"
                src="assets/img/portfolio-6.jpg"
                alt="Image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-lg-5">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a class="border-bottom" href="#">Gabes Action</a>, All Right
            Reserved.
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a href="">Accueil</a>
              <a href="">Cookies</a>
              <a href="">Help</a>
              <a href="">FQAs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
