<head>
    <meta charset="utf-8">
    <title>Gabes Action</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Urbanist:wght@200&display=swap" rel="stylesheet">
</head>


    <div class="container-xxl bg-white p-0">
       


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <img src="assets/img/lo123.png" style="width: auto" /> Association
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a routerLink="" class="nav-item nav-link ">Accueil</a>
                        <a routerLink="/actualite" class="nav-item nav-link">Actualité</a>
                        <a routerLink="/projet" class="nav-item nav-link active">Projet</a>
                        <a routerLink="/offre" class="nav-item nav-link">Opportunité</a>
                        <a routerLink="/adhesion" class="nav-item nav-link">Adhésion</a>
                        <a routerLink="/about" class="nav-item nav-link">A propos</a>
                        <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">Projets</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Our Projects<span></span></p>
                    <h1 class="text-center mb-5">Recently Completed Projects</h1>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <!-- You can add filter options here if needed -->
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                    <!-- Use *ngFor to iterate over projects and populate the template with dynamic data -->
                    <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="0.1s" *ngFor="let pp of pList; let i = index">
                        <div class="rounded overflow-hidden">
                            
                            <div class="position-relative overflow-hidden">
                                <div class="imagecont">
                                    <img class="img-fluid w-100" [src]="pp.img" alt="{{ pp.attributes?.title }}" style="max-width:fit-content;">
                                    
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2 title-text">{{ pp.title | uppercase }}</p>
                                <p class="desc-text lh-base mb-3">{{ pp.description.slice(0, 100) }}{{ pp.description.length > 100 ? '...' : '' }}</p>
                                <button [routerLink]="['/projet', pp.id]" class="button-50" role="button">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    <app-footer></app-footer>
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

