<div class="container-xxl bg-white p-0">
       
    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0" style="color: aliceblue;">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 " style="color: aliceblue;">
            <a href="" class="navbar-brand p-0">
                <img src="assets/img/lo123.png" style="width: auto" /> Association
                <!-- <img src="assets/img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a routerLink="" class="nav-item nav-link ">Accueil</a>
                    <a routerLink="/actualite" class="nav-item nav-link">Actualité</a>
                    <a routerLink="/projet" class="nav-item nav-link">Projet</a>
                    <a routerLink="/offre" class="nav-item nav-link">Opportunité</a>
                    <a routerLink="/adhesion" class="nav-item nav-link">Adhésion</a>
                    <a routerLink="/about" class="nav-item nav-link active">A propos</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>

        <div class="container-xxl py-5 bg-primary hero-header">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">
                    <div class="col-12 text-center">
                        <h1 class="text-white animated slideInDown">A propos</h1>
                        <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


 


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="section-title text-secondary">Description<span></span></h1>
                    <p class="mb-4">Association Gabes Action est une organisation apolitique et indépendante, œuvrant pour le développement durable de la région de Gabès. Ses principaux objectifs incluent la promotion de la citoyenneté, du travail bénévole et des droits de l'homme. Elle établit des partenariats avec diverses organisations locales et internationales et réalise des projets communs avec les institutions publiques et la société civile. À travers des campagnes de sensibilisation, des séminaires, des conférences, et des projets de développement, elle vise à améliorer la qualité de vie des communautés locales et encourager la participation citoyenne. Des structures internes permettent de gérer efficacement ses activités diversifiées.</p>
                   
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="assets/img/portfolio-1.jpg">
                </div>

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="section-title text-secondary">A propos<span></span></h1>
                </div>
L'Association Gabès Action opère indépendamment de toute action politique et n'a aucun lien politique avec des organismes, des organisations ou des syndicats.
L'association vise à réaliser plusieurs objectifs, dont les principaux axes sont les suivants :<br>
Axe 1 : Contribuer au développement global et durable, en particulier dans le gouvernorat de Gabès.<br>
Axe 2 : Renforcer le principe de citoyenneté, promouvoir le travail bénévole et diffuser la culture des droits.<br>
Axe 3 : Établir des partenariats avec d'autres organisations et associations nationales et internationales.<br>
Parmi les moyens pour atteindre ces objectifs :<br>
1. Établir des partenariats par le biais d'accords d'échanges d'expériences et d'échanges de délégations via des contrats de jumelage.<br>
2. Contribuer à la réalisation de projets communs avec les institutions publiques et les composantes de la société civile.<br>
3. Organiser des campagnes de sensibilisation et de conscientisation.<br>
4. Organiser des conférences, des symposiums et des colloques scientifiques.<br>
5. Mettre en place des projets de développement et encourager leur création.<br>
6. Créer des structures internes au sein de l'association pour prendre en charge diverses activités spécifiques.
            </div>
        </div>
    </div>
    <!-- About End -->


   
   

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center"><span></span>Our Team<span></span></p>
            <h1 class="text-center mb-5">Our Team Members</h1>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let teamMember of teamsList; let i = index">
              <div class="team-item bg-light rounded">
                <div class="text-center border-bottom p-4">
                  <img class="img-fluid rounded-circle mb-4" [src]="teamMember.img" alt="{{ teamMember.full_name }}">
                  <h5>{{ teamMember.full_name }}</h5>
                  <span>{{ teamMember.post }}</span>
                </div>
                <div class="d-flex justify-content-center p-4">
                  <a class="btn btn-square mx-1" [href]="teamMember.facebook"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square mx-1" [href]="teamMember.email"><i class="fa fa-envelope-open"></i></a>
                  
                  <a class="btn btn-square mx-1" [href]="teamMember.linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Team End -->
    <app-footer></app-footer>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>