<div class="container-xxl bg-white p-0">



    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <img src="assets/img/lo123.png" style="width: auto" /> Association
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a routerLink="" class="nav-item nav-link ">Accueil</a>
                    <a routerLink="/actualite" class="nav-item nav-link">Actualité</a>
                    <a routerLink="/projet" class="nav-item nav-link ">Projet</a>
                    <a routerLink="/offre" class="nav-item nav-link">Opportunité</a>
                    <a routerLink="/adhesion" class="nav-item nav-link active">Adhésion</a>
                    <a routerLink="/about" class="nav-item nav-link">A propos</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>

        <div class="container-xxl py-5 bg-primary hero-header">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">
                    <div class="col-12 text-center">
                        <h1 class="text-white animated slideInDown">Adhésion</h1>
                        <hr class="bg-white mx-auto mt-0" style="width: 90px;">

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="section-title text-secondary justify-content-center"><span></span>Rejoignez-nous<span></span>
        </h1>
    </div>

    <!-- Your form fields... -->
    <div class ="container">
    <div class="light-blue-box">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()" action="https://formsubmit.co/association.gabes.action@gmail.com" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Nom"
                                        formControlName="name" required maxlength="20" name="nom" required>
                                    <label for="name">Nom</label>
                                </div>
                                <div *ngIf="nameControl?.touched && nameControl?.invalid" class="text-danger">
                                    Nom est requis et doit contenir au maximum 20 caractères.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="surname" placeholder="Prénom"
                                        formControlName="surname" required maxlength="20" name="prenom" required>
                                    <label for="surname">Prénom</label>
                                </div>
                                <div *ngIf="surnameControl?.touched && surnameControl?.invalid" class="text-danger">
                                    Prénom est requis et doit contenir au maximum 20 caractères.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Email"
                                        formControlName="email" name="email" required>
                                    <label for="email">Email</label>
                                </div>
                                <div *ngIf="emailControl?.touched && emailControl?.invalid" class="text-danger">
                                    Email est invalide ou requis.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="phoneNumber"
                                        placeholder="Numéro de téléphone (+216)" formControlName="phoneNumber" name="telephone" required
                                        pattern="[0-9]{8}">
                                    <label for="phoneNumber">Numéro (+216)</label>
                                </div>
                                <div *ngIf="phoneNumberControl?.touched && phoneNumberControl?.invalid"
                                    class="text-danger">
                                    Numéro de téléphone doit avoir 8 chiffres.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <!-- Date of birth input field -->
                                <mat-form-field>
                                    <mat-label>Date de Naissance</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="birthdate" name="date de naissance" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center">
                                <!-- Nationality select field -->
                                <div class="form-floating">
                                    <select class="form-select form-control-sm" id="nationality" name="nationalité"
                                        formControlName="nationality"  required>
                                        <option value="">Choisir votre nationalité</option>
                                        <option *ngFor="let nationalityOption of nationalityOptions"
                                            [value]="nationalityOption">
                                            {{ nationalityOption }}
                                        </option>
                                    </select>
                                    <label for="nationality">Nationalité</label>
                                </div>
                                <div *ngIf="nationalityControl?.touched && nationalityControl?.invalid"
                                    class="text-danger">
                                    Nationalité doit être tounsi.
                                </div>
                            </div>
                        </div>
                        <label>
                            <input type="checkbox" name="agree" required>
                            J'ai lu et j'accèpte.
                        </label>
                        <a href="assets/files/rules.pdf" target="_blank">Règlements</a>
                        <br><br>
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center">
                                <!-- Submit button -->
                                <button class="btn btn-primary btn-sm w-100 py-2" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- form end-->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <app-footer></app-footer>
</div>
 

 