<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Association</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="container-xxl bg-white p-0">
    <!--navbar-->
    <div class="container-xxl position-relative p-0">
      <div class="container-xxl position-relative p-0">
        <nav
          class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
        >
          <a href="" class="navbar-brand p-0">
            <h1 class="m-0">
              <img src="assets/img/lo123.png" style="width: auto" /> Association
            </h1>

            <!-- <img src="img/logo.png" alt="Logo"> -->
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
              <a routerLink="/index" class="nav-item nav-link active"
                >Accueil</a
              >
              <a routerLink="/actualite" class="nav-item nav-link">Actualité</a>
              <a routerLink="/projet" class="nav-item nav-link">Projet</a>
              <a routerLink="/offre" class="nav-item nav-link">Opportunité</a>
              <a routerLink="/adhesion" class="nav-item nav-link">Adhésion</a>
              <a routerLink="/about" class="nav-item nav-link">A propos</a>
              <a routerLink="/contact" class="nav-item nav-link">Contact</a>
            </div>
          </div>
        </nav>

        <div class="container-xxl bg-primary hero-header">
          <div class="container px-lg-5">
            <div class="row g-5 align-items-end">
              <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white mb-4 animated slideInDown">
                  this organisation
                </h1>
                <p class="text-white pb-3 animated slideInDown">
                  is a dynamic community that aspires to impart knowledge and
                  skills to individuals. Through engaging workshops, seminars,
                  and interactive sessions, the club creates a learning
                  environment where participants can acquire valuable insights
                  and practical expertise. Dedicated to fostering a passion for
                  lifelong learning, this is a hub for those seeking educational
                  enrichment and personal development. Join us on a journey of
                  discovery and empowerment through knowledge.
                </p>
                <a
                  routerLink="about"
                  class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft"
                  >Lire Plus</a
                >
                <a
                  routerLink="contact"
                  class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
                  >Contactez-nous</a
                >
              </div>
              <div class="col-lg-6 text-center text-lg-start order-lg-2">
                <div class="circle-background">
                  <div class="circle-image">
                    <img
                      class="img-fluid animated zoomIn"
                      src="assets/img/lo123.png"
                      alt=""
                      style="max-width: 100%; max-height: 100%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- facebook actualité Start -->
    <div class="fbcontainer">
      <div class="facebook-post-container ratio-16-9">
        <iframe
          src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D685090683660982%26set%3Da.627165049453546%26type%3D3&show_text=true&width=500"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>
      <div class="facebook-post-container ratio-16-9">
        <iframe
          src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAssociation.Gabes.Action%2Fposts%2Fpfbid033NGbHJBNiMHczG6pjvpjEdQbQYkHkMip4h1M4sNfrs5neGdByMtQ129QoJN85hFnl&show_text=true&width=500"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>
    </div>

    <!-- Feature Start -->
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fas fa-graduation-cap fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Éducation</h5>
          <p class="m-0">
            Amélioration de l'accès à l'éducation, soutien scolaire,
            alphabétisation
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fas fa-leaf fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Environnement</h5>
          <p class="m-0">
            Protection de l'environnement, conservation de la biodiversité,
            gestion des déchets
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fas fa-gavel fa-2x text-primary"></i>
          </div>
          <h5 class="mb-3">Droits de l'homme</h5>
          <p class="m-0">
            Promotion des droits fondamentaux, lutte contre la discrimination,
            égalité
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fas fa-users text-primary fa-2x"></i>
          </div>
          <h5 class="mb-3">Développement communautaire</h5>
          <p class="m-0">
            Renforcement des communautés locales, développement économique
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fas fa-users text-primary fa-2x"></i>
          </div>
          <h5 class="mb-3">Jeunesse</h5>
          <p class="m-0">
            Encouragement de la participation des jeunes, développement de
            compétences
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fas fa-laptop-code text-primary fa-2x"></i>
          </div>
          <h5 class="mb-3">Technologie et innovation</h5>
          <p class="m-0">
            Accès aux nouvelles technologies, promotion de l'innovation sociale
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- Feature End -->

    <!-- numbers Start -->
    <div
      class="container-xxl bg-primary fact py-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="container py-5 px-lg-5">
        <div class="row g-4">
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.1s"
          >
            <i class="fa fa-calendar fa-3x text-secondary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12</h1>
            <p class="text-white mb-0">Années</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.3s"
          >
            <i class="fa fa-folder fa-3x text-secondary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">25</h1>
            <p class="text-white mb-0">Projets</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.5s"
          >
            <i class="fa fa-users fa-3x text-secondary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">5000</h1>
            <p class="text-white mb-0">Beneficiaries directs</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.7s"
          >
            <i class="fa fa-handshake fa-3x text-secondary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">48</h1>
            <p class="text-white mb-0">Partenaires</p>
          </div>
        </div>
      </div>
    </div>
    <!-- numbers End -->

    <!-- Facts Start -->

    <h1 class="text-black text-center animated slideInDown">Partenaires</h1>
    <div class="carousel-container">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            *ngFor="let sponsor of sponsorsList; let i = index"
            class="carousel-item"
            [ngClass]="{ active: i === 0 }"
          >
            <a [href]="sponsor.link" target="_blank">
              <img
                [src]="sponsor.img"
                [alt]="sponsor.title"
                class="carousel-image"
              />
            </a>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Facts End -->

    <!-- projects Start -->

    <!-- Service End -->

    <!-- Projects Start -->

    <h1 class="text-black text-center animated slideInDown">Opportunité</h1>

    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
        <div class="row g-4 portfolio-container">
          <!-- Use *ngFor to iterate over filtered projects -->
          <div
            class="col-lg-4 col-md-6 portfolio-item wow fadeInUp"
            data-wow-delay="0.1s"
            *ngFor="let pp of filteredOffers; let i = index"
          >
            <div class="rounded overflow-hidden">
              <div class="position-relative overflow-hidden">
                <div class="imagecont">
                  <img
                    class="img-fluid"
                    [src]="pp.img"
                    alt="{{ pp.title }}"
                    style="max-width: fit-content"
                  />
                </div>
              </div>
              <div class="bg-light p-4">
                <p class="text-primary fw-medium mb-2 title-text">
                  {{ pp.title | uppercase }}
                </p>
                <p class="desc-text lh-base mb-3">
                  {{ pp.description.slice(0, 100)
                  }}{{ pp.description.length > 100 ? "..." : "" }}
                </p>
                <button
                  [routerLink]="['/offre', pp.id]"
                  class="button-50"
                  role="button"
                >
                  Read more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
          <p class="section-title text-secondary justify-content-center">
            <span></span>Our Team<span></span>
          </p>
          <h1 class="text-center mb-5">Our Team Members</h1>
        </div>
        <div class="row g-4">
          <div
            class="col-lg-4 col-md-6 wow fadeInUp"
            data-wow-delay="0.1s"
            *ngFor="let teamMember of teamsList; let i = index"
          >
            <div class="team-item bg-light rounded">
              <div class="text-center border-bottom p-4">
                <img
                  class="img-fluid rounded-circle mb-4"
                  [src]="teamMember.img"
                  alt="{{ teamMember.full_name }}"
                />
                <h5>{{ teamMember.full_name }}</h5>
                <span>{{ teamMember.post }}</span>
              </div>
              <div class="d-flex justify-content-center p-4">
                <a class="btn btn-square mx-1" [href]="teamMember.facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1" [href]="teamMember.email"
                  ><i class="fa fa-envelope-open"></i
                ></a>

                <a class="btn btn-square mx-1" [href]="teamMember.linkedin"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Team End -->

    <app-footer></app-footer>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>
  </div>
</html>
